.center-items {
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-box {
	box-shadow: 0 9px 24px rgba(0, 0, 0, 0.12), 0 9px 24px rgba(0, 0, 0, 0.12);
}

.words-bar {
	width: 40vw;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
	display:flex;
}

.current-word {
	white-space: nowrap;
}

.start-typing {
	animation: bounce 1.5s infinite;
	margin-top: 1em;
	margin-bottom: -2em;
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

// out of screen
.hidden {
	position: absolute;
	top: -100vh;
	left: -100vw;
}